<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <style>
        body {
            padding: 15px;
            text-align: center;
        }

        input {
            border: 1px solid darkgray;
            border-radius: 20px;
            height: 30px;
            color: darkgray;
            margin-bottom: 10px;
            padding-left: 10px;
            width: 180px;
            font-size: 11px;
            outline: none;
        }

        .btn {
            width: 193px;
            color: white;
            background-color: black;
            border: none;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 5px;
        }

        button {
            width: 193px;
            height: 30px;
            color: white;
            background-color: darkgray;
            cursor: pointer;
            font-weight: bold;
            font-size: 11px;
            border-radius: 20px;
            border: none;
        }
    </style>
</head>
<body>
    <h3>로그인</h3>
    <form action="/signin" method="post">
        <input type="text" name="_phone" placeholder="Phone"><br>
        <input type="password" name="_pass" placeholder="Password"><br>
        <input type="submit" value="로그인" class="btn">
    </form>
    <button type="button" onclick="location.href='/signup'">회원가입</button>
</body>
</html>